.items {
  display: none;
}
.result-form {
  display: none;
}

.choice-holder {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.choice {
  flex: 1;
  padding: 100px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  user-select: none;
}

.choice:first-child {
  border-right: 1px solid black;
}

.choice:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* New World */

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(238, 238, 238);
}

body:before {
  content: '';
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.col-pg-body {
  background-color: white;
}

.col-sh {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;

  gap: 10px;
}

.col-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: 1fr;

  /* box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); */
}

.col-details {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  flex: 1;

  padding: 0px 25px 25px 25px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.col-div {
  display: flex;
  justify-content: space-between;

  padding: 12px;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 8px;
}

.col-div img {
  width: 200px;
}

.item-form input {
  border-radius: 12px;
  border: none;
  font-size: 0.96rem;
  padding: 8px;
  transition: all 0.2s ease-in;
}
.item-form input[type='text'] {
  flex: 1;
  outline: none;
  border: 2px solid darkgrey;
  background-color: rgba(255, 255, 255, 0.7);
}
.item-form input[type='text']:focus {
  border-color: dimgray;
}
.item-form input[type='submit']:hover {
  transform: scale(1.1);
}

.item-form {
  display: flex;
  gap: 10px;
}

h3 span {
  color: dimgray;
  font-size: 0.96rem;
}

/* old-col-card
.col-card {
  border-radius: 8px;

  box-sizing: border-box;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
*/

.col-card {
  height: 200px;

  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  overflow: hidden;
  cursor: pointer;

  gap: 10px;
}

.col-card-title {
  color: dimgray;
  font-weight: bold;
  font-size: 1.3rem;
}

.col-details button {
  border: none;
  border-radius: 6px;

  /* font-size: 0.96rem; */
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.15px;

  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.075);
  transition: all 0.1s ease-in;
}

.col-details button:hover {
  transform: scale(1.1);
}

.col-card svg {
  opacity: 0.2;
}

.col-card:hover {
  transform: scale(1.025);
  background-color: rgba(0, 0, 0, 0.045);
}

.col-nav {
  width: min-content;
  display: flex;
}

.col-nav button {
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in;

  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 12px;
}

.col-nav button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
}

.col-nav :first-child {
  background-color: rgba(255, 255, 255, 0.3);
  border-top-left-radius: 8px;
}

.col-nav :first-child:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
}

.col-nav :last-child {
  border-top-right-radius: 8px;
}
.col p {
  pointer-events: none;
}

.mod-bg {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.mod-card {
  background-color: rgba(254, 254, 254, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid dimgray;
  border-radius: 8px;
  width: 80%;

  display: flex;
  animation-name: animateMod;
  animation-duration: 0.3s;
}

.mod-card input {
  background-color: inherit;
  padding: 20px;
  border: none;
  flex: 1;
  border-radius: 12px;

  font-size: 1.3rem;
}

.mod-card input:focus {
  outline: none;
}

@keyframes animateMod {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
