/* Shared */

:root {
  --page-bg: rgb(228, 228, 228);

  --card-bg: rgba(255, 255, 255, 0.3);
  --card-fg: rgba(0, 0, 0, 0.075);
  --card-fg-hover: rgba(0, 0, 0, 0.12);
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  background: var(--page-bg);
  /* overflow: hidden; */
}

body:before {
  content: '';
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.28;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

form {
  display: contents;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 8px;
}

.card {
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 8px;
}

.card button {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;

  transition: all 0.2s ease-in;
  transition-property: transform, background-color;
}

.card .card {
  background-color: var(--card-fg);
  /* padding: 0px; */
}

/* Home */

.card.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  grid-auto-rows: 1fr;
}

.card.grid-item {
  height: 200px;

  color: dimgray;
  font-size: 1.5rem;
  font-weight: bold;

  border: 4px solid transparent;
}

.card svg {
  opacity: 0.2;
}

.adder {
  display: flex;
  gap: 10px;
}
.adder button {
  padding: 10px;
  background-color: transparent;
}

.adder input {
  padding: 0px 8px;
}

/* Rank */

.matchup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 12px;
}

.matchup .card {
  flex: 1;
  height: 300px;

  font-size: 1.2rem;
}

.matchup p {
  font-weight: bold;
  color: dimgray;
}

/* Results */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
}

.matchup span {
  width: 100%;
  font-weight: bold;

  display: flex;
  justify-content: center;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.matchups {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 500px;

  overflow: auto;
}

.W {
  color: green;
}

.L {
  /* color: rgb(169, 0, 0); */
  color: dimgray;
}
