<div class="col-sh">
    <div class="col-nav">
        <button>
            Browse
        </button>
        <button>
            Saved
        </button>
        <button>
            Library
        </button>
    </div>


    <div class="col-container">
        {{range .Data}}
            <div class="col-card">
                <p class="col-card-title">{{.Name}}</p>
                <form action="/collections/{{.ID}}" method="GET">
                    <button>Start Ranking</button>
                </form>
            </div>
        {{end}}
        <div class="col-card col-add" id="addCol">
            <svg height="80px" width="80px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 	 viewBox="0 0 309.059 309.059" xml:space="preserve"><g>	<g>		<path style="fill:#010002;" d="M280.71,126.181h-97.822V28.338C182.889,12.711,170.172,0,154.529,0S126.17,12.711,126.17,28.338			v97.843H28.359C12.722,126.181,0,138.903,0,154.529c0,15.621,12.717,28.338,28.359,28.338h97.811v97.843			c0,15.632,12.711,28.348,28.359,28.348c15.643,0,28.359-12.717,28.359-28.348v-97.843h97.822			c15.632,0,28.348-12.717,28.348-28.338C309.059,138.903,296.342,126.181,280.71,126.181z"/>	</g></g></svg>
        </div>
    </div>

    {{range .Data}}
    <div class="col-details">
        <h3>{{.Name}}</h3>
    </div>
    {{end}}
</div>

<div class="mod-bg" id="modal">
    <div class="mod-card">
        <form action="/calluponthecreator" method="POST">
            <input required id="titleInput" name="name" type="text" placeholder="Enter collection name">
        </form>
    </div>
</div>