<h1>My Collections</h1>
<div class="col-container">
    {{range .Data}}
        <div class="col-card">
            <a href="/collections/{{.ID}}">{{.Name}}</a>
            <div>
                {{range .Items}}
                    <div>
                        > {{.Title}}
                    </div>
                {{end}}
            </div>
            <form action="/calluponthecreator/create-item" method="POST">
                <input type="hidden" name="collection_id" value="{{ .ID }}">
                <input type="text" name="title" id="title" required>
                <input type="text" name="image" id="image">
                <input type="submit" value="Add an item">
            </form>
        </div>
    {{end}}
</div>
<form action="/calluponthecreator" method="POST">
    <input type="text" name="name" id="name" required>
    <input type="submit" value="Submit to me">
</form>